* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html {
  overflow-x: hidden;
  background: #FFD670;
  background-size: 100px 100px;
  background-image: radial-gradient(circle, white 1px, rgba(0, 0, 0, 0) 1px);

}
#threejs-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.greeting {
  font-family: 'Karla', sans-serif;
  color: black;
  z-index: 2;
  position: relative;
  padding:  4rem 4rem 0rem 4rem;
  display: flex;
  justify-content: space-between;
}
h2, button {
  font-family: 'Inconsolata', monospace;
  color: black;
  z-index: 2;
  position: relative;
  padding: 0.5rem 4rem 0rem 4rem;
}

#intro-1 {
  font-weight: 700;
}


nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.title {
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -75%);
}

.button {
  font-family: 'Inconsolata', monospace;
  background: none;
  position: relative;
  box-sizing: border-box;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(f,f,f,f.17);
  padding: 0.75rem 1.5rem;
  border: 0.1rem solid white;
  border-radius: 0.5rem;
  text-align: center;
  margin: 4rem;
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
}

.button:hover {
  color: #000000;
  background-color: white;
  top: 0.10rem;
}

.button:active {
  top: 0.1rem;
}